.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-2-2 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-2 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-2-2 {
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-1-2,
    .pure-u-sm-2-2 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-sm-1-2 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-2-2 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-1-2,
    .pure-u-md-2-2 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-md-1-2 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-2-2 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-1-2,
    .pure-u-lg-2-2 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-lg-1-2 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-2-2 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-1-2,
    .pure-u-xl-2-2 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-xl-1-2 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-2-2 {
        width: 100%;
    }
}
