a {
  text-decoration: none;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.error {
  color: #f33;
  font-size: 150%;
}

ul.members { 
  list-style-type: none;
}

ul.members li.active {
  font-weight: bold;
}

.footnotes {
  font-size: 85%;
}